### Advent Of Code Day 3: Binary Diagnostic

In [3]:
import numpy as np
import pandas as pd

**First Part**

In [125]:
# Add comma separator to the input file
! sed -e 's/./&,/g' input.txt > input2.txt  # Add comma to all characters
! sed -i -e 's/,$//' input2.txt             # Remove the comma to the last line character

In [124]:
# Read the file using pandas
df = pd.read_csv("./input2.txt", header = None)
df.head()

   0   1   2   3   4   5   6   7   8   9   10  11
0   0   0   1   0   0   1   1   0   0   1   0   1
1   0   1   0   1   0   0   0   1   1   1   0   0
2   1   0   0   0   0   0   1   1   0   0   0   1
3   0   0   1   1   1   1   1   1   0   1   0   1
4   1   0   0   0   1   0   1   1   0   1   0   1

In [76]:
# Compute the gamma and epsilon values
mode = df.mode().loc[0].values
gamma = 0
epsilon = 0
for i, value in enumerate(mode[::-1]):
    gamma += value * (2 ** i)
    epsilon += (1 - value) * (2 ** i)

print("Moda:", mode)
print("Gamma:", gamma)
print("Epsilon:", epsilon)

Moda: [0 1 0 1 1 1 1 0 0 1 0 0]
Gamma: 1508
Epsilon: 2587

In [77]:
gamma * epsilon

3901196

**Second Part**

In [84]:
# Oxygen report
df2 = df.copy()

for i in df.columns:
    zeros, ones = 0, 0
    counts = df2[i].value_counts()
    if 0 in counts: zeros = counts[0]
    if 1 in counts: ones = counts[1]
    if ones >= zeros:  
        df2 = df2[df2[i] == 1]
    else: 
        df2 = df2[df2[i] == 0]
    
    if df2.shape[0] == 1: break

df2

   0   1   2   3   4   5   6   7   8   9   10  11
8   0   1   1   0   0   1   1   0   0   1   1   1

In [85]:
# Scrubber Rating report
df3 = df.copy()

for i in df.columns:
    zeros, ones = 0, 0
    counts = df3[i].value_counts()
    if 0 in counts: zeros = counts[0]
    if 1 in counts: ones = counts[1]
    if ones >= zeros:  
        df3 = df3[df3[i] == 0]
    else: 
        df3 = df3[df3[i] == 1]
    
    if df3.shape[0] == 1: break

df3

     0   1   2   3   4   5   6   7   8   9   10  11
508   1   0   1   0   1   0   0   0   0   1   0   0

In [91]:
# Get the binary numbers obtained from composating all the columns
oxygen = 0
scrubber = 0
for i, value in enumerate(df2.values[0][::-1]): oxygen += value * (2 ** i)
for i, value in enumerate(df3.values[0][::-1]): scrubber += value * (2 ** i)

print("Oxygen:", oxygen)
print("Scrubber:", scrubber)

Oxygen: 1639
Scrubber: 2692

In [92]:
oxygen * scrubber

4412188